@page "/character"

<PageTitle>Character Sheet</PageTitle>

<!--Should prolly split this style into it's own .razor.css? I don't actually get this stuff-->
<style>
        article {
            background: #080808;
            color:var(--fg);
            font-family: monospace;
            text-align: center;
            font-size: 12pt;
            --fg: #ccc;
            --bg: #00436e;
            --heat: rgb(254,0,2);
            --cold: rgb(4,46,96);
            --light: rgb(255,255,255);
            --dark: rgb(0,0,0);
            --force: rgb(107,124,133);
            --arcane: rgb(78,5,80);
            --chemical: rgb(21,68,6);
            --mental: rgb(255, 0, 170);
            --TR:var(--fg);
        }
        
        h1 {font-size:1.5em}
        h2 {font-size:1.4em}
        h3 {font-size:1.3em}
        h4 {font-size:1.2em}
        h5 {font-size:1.1em;margin: 0;}
        h6 {font-size:1em;margin: 0;}

        main.Grace {
            background-color: #000;
            --fg:#9f6;
            --bg:hsla(98, 55%, 22%,63%);
            --hp:#2f2;
            --sp:#ff2;
            --mp:#fff;
            --SPD: #fc0;
            --PER: #60f;
            --heat: #f40;
            --cold: #04f;
            --light: #ffa;
            --dark: #002;
            --force: #8a8;
            --arcane: #306;
            --chemical: #6f0;
            --mental: #f0a;
            --RE: #f64;
            --NW: #cf0;
            --CH: var(--chemical);
            --AL: #9f0;
            --RU: var(--mp);
        }

        main.Mo {
            background-color: #210;
            --fg: #f40;
            --bg: hsla(20,9%,20%,69%);
            --hp: #465;
            --sp: #ff6;
            --mp: #f20;
            --heat: #f20;
            --cold: #000;
            --light: #ffa;
            --dark: #000;
            --force: #454;
            --arcane: #408;
            --chemical: #380;
            --mental: #805;
        }

        main.Micah {
            background-color: hsl(28 100% 2% / 1);
            --fg: #aba;
            --bg: hsla(28,28%,21%,70%);
            --hp: #898;
            --sp: hsl(28 100% 60% / 1);
            --mp: hsl(2 100% 5% / 1);
            --heat: #f40;
            --cold: #04f;
            --light: #ffd;
            --dark: #002;
            --force: #aba;
            --arcane: #80f;
            --chemical: #6f0;
            --mental: #f0a;
        }

        .alt #VitHP, .alt #AttSTR, .alt #AttRCV {color:var(--hp)}
        .alt #VitSP, .alt #AttEND, .alt #AttVGR  {color:var(--sp)}
        .alt #VitMP, .alt #AttFCS, .alt #AttCLR  {color:var(--mp)}
        .alt #AttPER {color:var(--PER)}
        .alt #AttSPD {color:var(--SPD)}

        .Restoration {--TR: var(--RE);}
        .Natureworking {--TR: var(--NW);}
        .Chemistry {--TR: var(--CH);}
        .Alchemy {--TR: var(--AL);}
        .Runecrafting {--TR: var(--RU);}
        .alt table.Tree {color: var(--TR); --fg: var(--TR);}
        
        .alt #ResHE {color:var(--heat);}
        .alt #ResCO {color:var(--cold);}
        .alt #ResLI {color:var(--light);}
        .alt #ResDA {color:var(--dark);}
        .alt #ResFO {color:var(--force);}
        .alt #ResAR {color:var(--arcane);}
        .alt #ResCH {color:var(--chemical);}
        .alt #ResME {color:var(--mental);}
        
        table {
            background: var(--bg);
            table-layout: fixed;
            border: none;
            border-collapse: separate;
            border-spacing: 2px;
            margin: 10px auto;
            width: 90%;
            overflow: hidden;
        }

        table td , table th {
            margin: 0;
            padding: 6px;
            border: 1px solid var(--fg);
        }
        table td h1 {border-bottom: 1px solid var(--fg);}

        #Overview tr:nth-child(1),#Overview tr:nth-child(3) {font-weight: bold;}

        table th {font-weight: bold;text-align: center;}
        
        #VitHP td:nth-child(2) span {opacity: calc({{curHP / maxHP}} + .1);}
        #VitSP td:nth-child(2) span {opacity: calc({{curSP / maxSP}} + .1);}
        #VitMP td:nth-child(2) span {opacity: calc({{curMP / maxMP}} + .1);}

        #Skills {text-align: left;}

        #Skills h2, #Skills h3, #Skills h4 {text-align: center;margin:0}

        #Skills table tr th:nth-child(1) {width: 10%;}
        
        table table table {
            margin: -6px;
            width: calc(100% + 12px);
            height: calc(100% + 12px);
        }

        #Inventory tr th:nth-child(1) {width: 12%;}
        #Inventory tr th:nth-child(2) {width: 52%;}
        #Inventory tr td:nth-child(2) {text-align: left;}
        #Inventory tr th:nth-child(n+3) {width: 12%;}
    </style>



<main>
    <article class=@articleClass><!--class="{% if altcol %} alt {% endif %} {{ Name.split()[0] }}"> so much jinja legacy code to adapt ig-->
        <table>
            <tr><td>
                <h1>{{Name}}</h1>
                <table id="Overview">
                    <tr><th>CLASS</th><th>LVL</th><th>CAP</th>{% if pluscol %}<th>+STAT</th>{% endif %}</tr>
                    <tr><td>{{Class}}</td><td>{{Level}}</td><td>{{LevelCap}}</td>{% if pluscol %}<td>{{FreeStat}}</td>{% endif %}</tr>
                    <tr><th>EXP</th><th>NEXT</th><th>TOTAL</th>{% if pluscol %}<th>+SKILL</th>{% endif %}</tr>
                    <tr><td>{{CurrXP}}</td><td>{{NextXP}}</td><td>{{TotXP}}</td>{% if pluscol %}<td>{{FreeSkill}}</td>{% endif %}</tr>
                </table>

                <h2>Vitals</h2>
                <table id="Vitals">
                    <tr id="VitHD"><td></td><th>CUR</th><th>MAX</th><th>RGN</th></tr>
                    <tr id="VitHP"><th>Health</th><td><span>{{curHP}}</span></td><td>{{maxHP}}</td><td>{{rgnHP}}</td></tr>
                    <tr id="VitSP"><th>Stamina</th><td><span>{{curSP}}</span></td><td>{{maxSP}}</td><td>{{rgnSP}}</td></tr>
                    <tr id="VitMP"><th>Mana</th><td><span>{{curMP}}</span></td><td>{{maxMP}}</td><td>{{rgnMP}}</td></tr>
                </table>

                <h2>Attributes</h2>
                <table id="Attributes">
                    <tr id="AttHD"><td>{{totMSC}}/{{totTOL}}</td><th>EFF</th><th>TOTAL</th><th>BASE</th><th>ACCLD</th><th>MISC</th><th>SYN</th></tr>
                    <tr id="AttSTR"><th>STR</th><td>{{effSTR}}</td><td>{{totSTR}}</td><td>{{basSTR}}</td><td>{{accSTR}}</td><td>{{mscSTR}}/{{tolSTR}}</td><td>{{synSTR}}</td></tr>
                    <tr id="AttRCV"><th>RCV</th><td>{{effRCV}}</td><td>{{totRCV}}</td><td>{{basRCV}}</td><td>{{accRCV}}</td><td>{{mscRCV}}/{{tolRCV}}</td><td>{{synRCV}}</td></tr>
                    <tr id="AttEND"><th>END</th><td>{{effEND}}</td><td>{{totEND}}</td><td>{{basEND}}</td><td>{{accEND}}</td><td>{{mscEND}}/{{tolEND}}</td><td>{{synEND}}</td></tr>
                    <tr id="AttVGR"><th>VGR</th><td>{{effVGR}}</td><td>{{totVGR}}</td><td>{{basVGR}}</td><td>{{accVGR}}</td><td>{{mscVGR}}/{{tolVGR}}</td><td>{{synVGR}}</td></tr>
                    <tr id="AttFCS"><th>FCS</th><td>{{effFCS}}</td><td>{{totFCS}}</td><td>{{basFCS}}</td><td>{{accFCS}}</td><td>{{mscFCS}}/{{tolFCS}}</td><td>{{synFCS}}</td></tr>
                    <tr id="AttCLR"><th>CLR</th><td>{{effCLR}}</td><td>{{totCLR}}</td><td>{{basCLR}}</td><td>{{accCLR}}</td><td>{{mscCLR}}/{{tolCLR}}</td><td>{{synCLR}}</td></tr>
                    <tr id="AttPER"><th>PER</th><td>{{effPER}}</td><td>{{totPER}}</td><td>{{basPER}}</td><td>{{accPER}}</td><td>{{mscPER}}/{{tolPER}}</td><td>{{synPER}}</td></tr>
                    <tr id="AttSPD"><th>SPD</th><td>{{effSPD}}</td><td>{{totSPD}}</td><td>{{basSPD}}</td><td>{{accSPD}}</td><td>{{mscSPD}}/{{tolSPD}}</td><td>{{synSPD}}</td></tr>
                </table>

                <h2>Resistances</h2>
                <table id="Resistances">
                    <tr id="ResHD"><td></td><th>TOTAL</th><th>END</th><th>ACCLD</th><th>MISC</th></tr>
                    <tr id="ResHE"><th>HEAT</th><td>{{fltHE}}<br>{{perHE}}%</td><td>{{ENDfltHE}}<br>{{ENDperHE}}%</td><td>{{ACCfltHE}}<br>{{ACCperHE}}%</td><td>{{MSCfltHE}}<br>{{MSCperHE}}%</td></tr>
                    <tr id="ResCO"><th>COLD</th><td>{{fltCO}}<br>{{perCO}}%</td><td>{{ENDfltCO}}<br>{{ENDperCO}}%</td><td>{{ACCfltCO}}<br>{{ACCperCO}}%</td><td>{{MSCfltCO}}<br>{{MSCperCO}}%</td></tr>
                    <tr id="ResLI"><th>LIGHT</th><td>{{fltLI}}<br>{{perLI}}%</td><td>{{ENDfltLI}}<br>{{ENDperLI}}%</td><td>{{ACCfltLI}}<br>{{ACCperLI}}%</td><td>{{MSCfltLI}}<br>{{MSCperLI}}%</td></tr>
                    <tr id="ResDA"><th>DARK</th><td>{{fltDA}}<br>{{perDA}}%</td><td>{{ENDfltDA}}<br>{{ENDperDA}}%</td><td>{{ACCfltDA}}<br>{{ACCperDA}}%</td><td>{{MSCfltDA}}<br>{{MSCperDA}}%</td></tr>
                    <tr id="ResFO"><th>FORCE</th><td>{{fltFO}}<br>{{perFO}}%</td><td>{{ENDfltFO}}<br>{{ENDperFO}}%</td><td>{{ACCfltFO}}<br>{{ACCperFO}}%</td><td>{{MSCfltFO}}<br>{{MSCperFO}}%</td></tr>
                    <tr id="ResAR"><th>ARCANE</th><td>{{fltAR}}<br>{{perAR}}%</td><td>{{ENDfltAR}}<br>{{ENDperAR}}%</td><td>{{ACCfltAR}}<br>{{ACCperAR}}%</td><td>{{MSCfltAR}}<br>{{MSCperAR}}%</td></tr>
                    <tr id="ResCH"><th>CHEMICAL</th><td>{{fltCH}}<br>{{perCH}}%</td><td>{{ENDfltCH}}<br>{{ENDperCH}}%</td><td>{{ACCfltCH}}<br>{{ACCperCH}}%</td><td>{{MSCfltCH}}<br>{{MSCperCH}}%</td></tr>
                    <tr id="ResME"><th>MENTAL</th><td>{{fltME}}<br>{{perME}}%</td><td>{{ENDfltME}}<br>{{ENDperME}}%</td><td>{{ACCfltME}}<br>{{ACCperME}}%</td><td>{{MSCfltME}}<br>{{MSCperME}}%</td></tr>
                </table>
            </td></tr>
        </table>

        <table id="Inventory">
            <tr><th>Slot</th><th>Item</th><th>Charge</th><th>Saturation</th><th>Durability</th></tr>
        {% for item in Items %}
            <tr class="item">
                <td>{{item.slot}}</td>
                <td><h5>{{item.name}}</h5>{{item.describe()}}</td>
                <td>{{item.currCharge}} / {{item.charge}}</td>
                <td>{{item.currSat}} / {{item.manaSat}}</td>
                <td>{{item.currDurability}} / {{item.durability}}</td>
            </tr>
        {% endfor %}
        </table>

        <table>
            <tr><th>{{totAccAct}}/{{Level + 1}} Slots</th><th>Accolade</th><th>Total Bonus</th></tr>
        {% for acc in accolades %}
            <tr class="accolade">
                <td>{{acc.numActive * acc.rank}} [{{acc.numActive}} x {{acc.rank}}]</td>
                <th>{{acc.name}}</th>
                <td>{{acc.describe()}}</td>
            </tr>
        {% endfor %}
        </table>

        <table id="Skills"><tr><td><h2>Skills</h2>
            {% for tree in trees %}
                <table class="Tree {{tree.name}}"><tr><th>Tier</th><th><h3>{{tree.name}}</h3></th></tr>
                {% for tier in tree.tiers.values() %}
                    <tr><th><h4>{{tier.tier}}</h4></th>
                    <td><table>
                    {% for skill in tier.skills.values() %}
                        <tr><td><h5>{{skill.name}} ({{skill.rank + skill.rank_bonus}}/{{skill.cap}}) {% if not skill.rank == skill.cap %} (Exp: {{skill.xp}}/{{ skill.getNextRankXP() }}) {% endif %}</h5>
                        {{skill.describe()}}</td></tr>
                    {% endfor %}
                </table></td></tr>
                {% endfor %}
            </table>
            {% endfor %}
        </td></tr></table>
    </article>
</main>

@code {
    public Awakened Player = new Awakened("Teston Lautts","Sharp Testing");
    public bool altCol = true;
    public string articleClass = Player.Name.name;

    if (altCol) {articleClass += " alt";}

}